.header {
	padding: 12px 0;
}

.box {
	display: flex;
	align-items: center;
	max-width: 100%;
}

.nav {
	display: none;
	margin-right: auto;

	@media screen and (min-width: 768px) {
		display: flex;
	}
}

.logo {
	max-width: 82px;
	max-height: 56px;
	margin-right: 111px;

	@media screen and (min-width: 768px) {
		max-width: 54px;
		max-height: 36px;
		margin-right: 57px;
	}

	@media screen and (min-width: 1140px) {
		max-width: 82px;
		max-height: 56px;
		margin-right: 111px;
	}
}

.list {
	display: flex;
	gap: 45px;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.link {
	color: #000;
	font-family: 'Montserrat Alternates';
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
	text-wrap-mode: nowrap;

	transition: color 250ms;

	@media screen and (min-width: 768px) {
		font-size: 10px;
	}

	@media screen and (min-width: 1140px) {
		font-size: 12px;
	}
}

.link:hover {
	color: #ffb36c;
}

.signup {
	display: none;
	justify-content: center;
	align-items: center;
	gap: 27px;

	@media screen and (min-width: 768px) {
		display: flex;
	}
}

.button {
	color: #000;
	font-family: 'Montserrat Alternates';
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	font-size: 10px;
	padding: 8px 16px;
	justify-content: center;
	align-items: center;
	gap: 10px;

	border-radius: 10px;
	background: #ffb36c;

	transform: scale(1);

	transition: transform 250ms ease-out;

	@media screen and (min-width: 768px) {
		padding: 6px 16px;
		font-weight: 500;
	}

	@media screen and (min-width: 1140px) {
		font-size: 12px;
		padding: 10px 20px;
	}
}

.button:hover {
	transform: scale(1.1);
}

.profile {
	max-width: 50px;
	max-height: 50px;

	cursor: pointer;

	@media screen and (min-width: 768px) {
		max-width: 40px;
		max-height: 40px;
	}

	@media screen and (min-width: 1140px) {
		max-width: 50px;
		max-height: 50px;
	}
}

.shownMobile {
	display: flex;

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.hiddenPC {
	display: flex;

	@media screen and (min-width: 1140px) {
		display: none;
	}
}

.navMobile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.logoMobile {
	width: 44px;
	height: 32px;
}

.buttonMobile {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: center;

	color: #000;
	font-family: 'Montserrat Alternates';
	font-size: 10px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.buttonMobile:hover {
	color: color;
	background-color: white;
}

.imageMobile {
	max-width: 13px;
	max-height: 13px;

	transition: all 250ms;
}

.mobileMenu {
	background: #e6e6e6;
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	padding: 30px;
}

.mobileList {
	display: flex;
	flex-direction: column;
	gap: 25px;
	margin-right: 156px;
}

.mobileLink {
	color: #000;
	font-family: 'Montserrat Alternates';
	font-size: 10px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.mobileSignup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.mobileImage {
	width: 40px;
	height: 40px;
}

.transformed {
	transform: rotate(-90deg);
}

.isHidden {
	display: none;
}

.backdrop {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 1;
}

.modal {
	max-width: 300px;
	border: 1px solid black;
	border-radius: 25px;
	padding: 28px 80px;
	background-color: white;

	transform: translate(50% 50%);

	position: relative;

	z-index: 99;

	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and (min-width: 768px) {
		max-width: 400px;
		padding: 30px 45px;
	}

	@media screen and (min-width: 1140px) {
		max-width: 600px;
		padding: 20px 80px;
	}
}

.modalClose {
	position: absolute;
	top: 20px;
	right: 20px;

	width: 15px;
	height: 15px;
}

.modalTitle {
	color: #000;
	font-family: 'Montserrat Alternates';
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-align: center;

	margin-bottom: 30px;

	@media screen and (min-width: 768px) {
		font-size: 28px;
		margin-bottom: 17px;
	}

	@media screen and (min-width: 1140px) {
		margin-bottom: 40px;
	}
}

.modalForm,
.modalList,
.modalItem {
	display: flex;
	flex-direction: column;
}

.modalForm {
	align-items: center;
	margin-bottom: 30px;

	@media screen and (min-width: 768px) {
		margin-bottom: 17px;
	}

	@media screen and (min-width: 1140px) {
		margin-bottom: 15px;
	}
}

.modalList {
	gap: 25px;
	margin-bottom: 30px;

	@media screen and (min-width: 768px) {
		gap: 15px;
		margin-bottom: 25px;
	}

	@media screen and (min-width: 1140px) {
		gap: 30px;
		margin-bottom: 35px;
	}
}

.modalItem {
	width: 100%;
}

.modalLabel {
	color: #000;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	margin-bottom: 15px;

	@media screen and (min-width: 1140px) {
		font-size: 14px;
	}
}

.modalInput {
	color: #ababab;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	width: 100%;
	min-width: 243px;
	max-width: 243px;
	max-height: 40px;

	border-radius: 10px;
	background: #e4e4e4;

	padding: 12px 20px;

	border: 1px solid transparent;

	transition: border 500ms;

	@media screen and (min-width: 768px) {
		max-height: 50px;
		min-width: 310px;
		max-width: 310px;
		padding: 12px 20px;
	}

	@media screen and (min-width: 1140px) {
		font-size: 14px;
		padding: 20px 17px;
		max-width: 440px;
	}
}

.modalInput:hover,
.modalInput:focus {
	border: 1px solid black;
}

.modalButton {
	color: #000;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;

	padding: 10px 30px;

	border-radius: 10px;
	background: #ffb36c;

	max-width: 107px;
	max-height: 35px;

	justify-content: center;
	align-items: center;

	transform: scale(1);
	transition: transform 250ms;

	@media screen and (min-width: 768px) {
		max-width: 107px;
		max-height: 35px;
	}

	@media screen and (min-width: 1140px) {
		max-width: 114px;
		max-height: 37px;
		font-size: 14px;
	}
}

.modalButton:hover,
.modalButton:focus {
	transform: scale(1.1);
}

.modalFooter {
	color: #000;
	font-family: Montserrat;
	font-size: 8px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	@media screen and (min-width: 1140px) {
		font-size: 10px;
	}
}

.modalLink {
	color: #000;
	font-family: Montserrat;
	font-size: 8px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: none;
	text-decoration-thickness: auto;
	text-underline-offset: auto;
	text-underline-position: from-font;

	cursor: pointer;

	transition: color 250ms;

	@media screen and (min-width: 1140px) {
		font-size: 10px;
	}
}

.modalLink:hover,
.modalLink:focus {
	color: #ffb36c;
}

.wrong {
	border: 1px solid red;
}
